.top{
  margin-top: 20px;
}

.solid{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(118, 118, 118);
  height: 2px;
}

.search input{
  border:none;
  width: 600px;
  font-size: 18px;
}

.search button{
  border: none;
  background-color: none;
}

.search{
  border: black;
}

.deleted{
  height: 25px;
  margin-top: 50px;
}

.check-name{
  font-size: 22px;
  color: rgb(124, 124, 124);
}

.check{
  width: 60px;
  height: 24px;
  
  margin-right: 20px;
}

.list{
  margin-top: 80px;
  color: rgb(124, 124, 124);
}

.actions{
  text-align: center;
}

.item .action{
  text-align: center;
  display: flex;
  justify-content: space-around;
}