.top{
  margin-top: 20px;
}

.solid{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(118, 118, 118);
  height: 2px;
}

.search input{
  border:none;
  width: 600px;
  font-size: 18px;
}

.search button{
  border: none;
  background-color: none;
}

.search{
  border: black;
}

#list-item{
  width: 100%;
  margin-top: 100px;
  color: rgb(131, 127, 127);
}

#list-item tr{
  border-bottom: 1px solid #ddd;;
  padding-top: 20px;
  padding-right: 20px;
}

#list-item th{
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(131, 127, 127);
  font-style: normal;
  font-weight: 400;
}

#list-item td{
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.action{
  display: flex;
  justify-content: space-around;
}

.form-add{
  width: 400px;
}

.form-add input{
  margin-bottom: 20px;
}